<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<h2>Example with labeled components</h2>	
		<form wicket:id="form" class="form-horizontal form-multiline">
			<section>
			
				<div wicket:id="gender"></div>
				
				<div wicket:id="name"></div>
				
				<div wicket:id=nickname></div>

				<div wicket:id="about"></div>

				<div wicket:id="married"></div>

				<div wicket:id="dateofbirth"></div>

				<div wicket:id="dateofMarriage"></div>
				
				<div wicket:id="addressPanel"></div>

				<div>
					<input type="submit" wicket:id="submitButton" value="show"
						class="buttonleft" />
				</div>

			</section>
		</form>

		<div wicket:id="feedbackpanel"></div>
</wicket:panel>