<html
	 xmlns:wicket="http://wicket.apache.org">
<body>
	<wicket:extend>
		<form wicket:id="form">
			<section>
				<div wicket:id="name"></div>

				<div wicket:id="about"></div>

				<div wicket:id="married"></div>

				<div wicket:id="dateofbirth"></div>

				<div wicket:id="dateofMarriage"></div>


				<div>
					<input type="submit" wicket:id="submitButton" value="show"
						class="buttonleft" />
				</div>

			</section>
		</form>
		<div wicket:id="feedbackpanel"></div>
	</wicket:extend>
</body>
</html>
