<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="utf-8">
<!-- This adds responsive design to the page! -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title wicket:id="title">[title comes here]</title>
<meta wicket:id="keywords" content="" name="keywords" />
<meta wicket:id="description" content="" name="description" />
</head>
<body>
	<wicket:child />
	<wicket:container wicket:id="footer-container"></wicket:container>
</body>
</html>
