/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.containerMinHeight {
  min-height: 700px;
}

.overviewPanel {
    color: #737B82;
    float: left;
    height: 120px;
    line-height: 12px;
    margin: 0 5px 5px 0;
    padding: 2px 0;
    width: 200px;
}

div.wicket-aa-container {
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
}

div.wicket-aa {
        font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
        font-size: 12px;
        background-color: white;
        padding: 2px;
        text-align:left;
}

div.wicket-aa ul {
        list-style:none;
        padding: 2px;
        margin:0;
        background-color: white;
        color: black;
}

div.wicket-aa ul li {
        background-color: white;
        color: black;
        padding: 2px;
        margin:0;
}
div.wicket-aa ul li.selected {
        background-color: white;
        color: black;
        padding: 2px;
        margin:0;
}
.span3dot5 {
	width: 230px;
}
.span4dot5 {
	width: 300px;
}

.uneditable {
    border: none;
    overflow: visible;
}

.displaynone {
	display: none;
}

.image_tiny {
	width: 60px;
	height: 80px;
	min-width: 60px;
    max-width: 80px;
}

.image_small {
	width: 90px;
	height: 120px;
	min-width: 90px;
    max-width: 120px;
}

.image_large {
	width: 270px;
	height: 360px;
}

.buttonPadding {
	padding: 15px 5px 15px 5px;
}


.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.radiobrands label {
	margin-left: 10px;
	margin-right: 10px;
}

.nav-center {
	width: 100%;
    text-align: center;
}

.nav-center > li {
      float: none;
      display: inline-block;
}

.footer {
    padding:0;
    margin-top: 0;
    border-top: 0;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.control-label {
    vertical-align: bottom;
}
