<html
        xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>
    <form wicket:id="form">
        <section>


            <div class="fieldset">
                <div wicket:id="name"></div>
            </div>

            <div class="fieldset">
                <div wicket:id="about"></div>
            </div>

            <div wicket:id="married"></div>


            <div>


            </div>

        </section>

        <input type="submit" wicket:id="submitButton"/>
    </form>
    <div wicket:id="feedbackpanel"></div>
</wicket:extend>
</body>
</html>
