<?xml version="1.0" encoding="UTF-8"?>
<html
  xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master">
<body>
<wicket:panel>
	<fieldset>
		<ul>	
			<li>
				<div>
					<span>
						<input type="checkbox" wicket:id="checkbox">
					</span>
					<label>
						<span wicket:id="label"></span>
					</label>
				</div>
			</li>
            <li>
                <div wicket:id="feedback"></div>
            </li>
		</ul>
	</fieldset>
</wicket:panel>
</body>
</html>