<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<div>

		<div wicket:id="generalTermsAndConditionsPanel"></div>

		<div wicket:id="legalReferencesPanel"></div>

		<div wicket:id="contractPanel"></div>

		<div wicket:id="dataProtectionPanel"></div>

		<div wicket:id="copyrightPanel"></div>

		<div wicket:id="cancellationPanel"></div>

		<div wicket:id="liabilityPanel"></div>

		<div wicket:id="rightsAndDutiesPanel"></div>

		<div wicket:id="modificationsClausePanel"></div>

		<div wicket:id="salvatoriusClausePanel"></div>

		<div wicket:id="fulfilmentAndJurisdictionPlacePanel"></div>

		<div wicket:id="disclaimerPanel" ></div>
		
	</div>

</wicket:panel>