$(document).ready(function() {

toastr.options.closeButton=${closeButton};
toastr.options.debug=${debug};
toastr.options.newestOnTop=${newestOnTop};
toastr.options.progressBar=${progressBar};
toastr.options.positionClass=${positionClass};
toastr.options.preventDuplicates=${preventDuplicates};
toastr.options.onclick=${onclick};
toastr.options.showDuration=${showDuration};
toastr.options.hideDuration=${hideDuration};
toastr.options.timeOut=${timeOut};
toastr.options.extendedTimeOut=${extendedTimeOut};
toastr.options.showEasing=${showEasing};
toastr.options.hideEasing=${hideEasing};
toastr.options.showMethod=${showMethod};
toastr.options.hideMethod=${hideMethod};
toastr.options.tapToDismiss=${tapToDismiss};

${command};
})