<wicket:panel  xmlns:wicket="http://wicket.apache.org">
    <span wicket:id="controlPair"/>
</wicket:panel>

<wicket:fragment wicket:id="textfield">
      <nobr><span wicket:id="viewLabel"/></nobr>
      <input type="text" wicket:id="component"/>
</wicket:fragment>

<wicket:fragment wicket:id="textarea">
      <span wicket:id="viewLabel"/>
      <textarea wicket:id="component"></textarea>
</wicket:fragment>

<wicket:fragment wicket:id="choice">
      <nobr><span wicket:id="viewLabel"/></nobr>
      <select wicket:id="component"/>
</wicket:fragment>

<wicket:fragment wicket:id="checkbox">
      <nobr><span wicket:id="viewLabel"/></nobr>
      <input type="checkbox" wicket:id="component"/>
</wicket:fragment>