<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <ul id="nav">
      <li wicket:id="topmenuitems">
        <span wicket:id="menuitemfragment">link</span>
      </li>
    </ul>

    <wicket:fragment wicket:id="MENUITEMFRAGMENT">
        <span wicket:id="linkfragment">link</span>
        <ul wicket:id="menuitemlist">
            <li wicket:id="menuitemlinks">
                <span wicket:id="menuitemfragment">link</span>
            </li>
        </ul>
    </wicket:fragment>

    <wicket:fragment wicket:id="LINKFRAGMENT">
        <a href="#" wicket:id="linkid" class="childmenu"><span wicket:id="linktext" class="childmenutext">Link Text</span></a>
    </wicket:fragment>

    <wicket:fragment wicket:id="TEXTFRAGMENT">
        <span wicket:id="linktext" class="childmenutext">Link Text</span>
    </wicket:fragment>
</wicket:panel>




