<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta charset="utf-8" />
		<title>Apache Wicket Quickstart</title>
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="Stylesheet" />
	</head>
	<body>
		<br/>
		<br/>
		<br/>
		<div class="colorbox" style="margin-left: 20px;">
			<h2>Example with the alert</h2>
			<div wicket:id="indicator"></div>
			<div id="alert-area" wicket:id="alert-area"></div>
			<br/><button wicket:id="button">push</button>
			<br/><br/>
			<div>
		    	<a href="#" wicket:id="pdfLink">
		    		<span wicket:id="fileName"></span>
		    	</a>
		    </div>
		    <div>
		    	<a wicket:id="termOfUseLink" href="#">termofuse</a><nobr></nobr>
		    	<a wicket:id="imprintLink" href="#">imprint</a><nobr></nobr>
		    	<a wicket:id="signupLink" href="#">signup</a><nobr></nobr>
		    	<a wicket:id="signinLink" href="#">signin</a><nobr></nobr>
		    	<a wicket:id="kaptchaLink" href="#">kaptcha</a><nobr></nobr>
		    	<a wicket:id="urlsLink" href="#">urls</a><nobr></nobr>
		    	<a wicket:id="tabsLink" href="#">tabs</a><nobr></nobr>
		    	<a wicket:id="swapFragmentsLink" href="#">Swap wicket Fragments</a>
		    </div>
		</div>
		<wicket:container wicket:id="footer-container"></wicket:container>
	</body>
</html>