<wicket:panel xmlns:wicket="http://wicket.apache.org">	
		<form wicket:id="editPersonForm">
			<table>
				<tr>
					<th colspan="2">Edit person</th>
				</tr>
				<tr>
					<td>First Name:</td>
					<td><input type="text" wicket:id="firstName" value="" size="20" /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" wicket:id="lastName" value="" size="20" /></td>
				</tr>
				<tr>
					<td>Gender:</td>
					<td><input type="text" wicket:id="gender" value="" size="20" /></td>
				</tr>
				<tr>
					<td>Age:</td>
					<td><input type="text" wicket:id="age" value="" size="20" /></td>
				</tr>
				<tr>
					<td><input type="submit" wicket:id="submit" /></td>
					<td></td>
				</tr>
			</table>
		</form>
</wicket:panel>