<wicket:panel xmlns:wicket="http://wicket.apache.org">	
		<a href="#" wicket:id="editLink" class="btn">Edit Person</a>
		<table>
			<tr>
				<th colspan="2">Person</th>
			</tr>
			<tr>
				<td>First Name:</td>
				<td wicket:id="firstName">[First Name]</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td wicket:id="lastName">[Last Name]</td>
			</tr>
			<tr>
				<td>Gender:</td>
				<td wicket:id="gender">[Gender]</td>
			</tr>
			<tr>
				<td>Age:</td>
				<td wicket:id="age">[Age]</td>
			</tr>
		</table>
</wicket:panel>