.radioButtonPanel .image-radio-container input[type=radio] {
	display: none;
	margin: 10px;
}

.radioButtonPanel .image-radio-container input[type=radio]+label {
	display: inline-block;
	margin: -2px;
	padding: 4px 12px;
	background-color: #e7e7e7;
	border-color: #ddd;
}

.radioButtonPanel .image-radio-container input[type=radio]:checked+label {
	background-image: none;
	background-color: #d0d0d0;
}

.radioButtonPanel .image-radio-container input[type=radio][checked=checked]+label {
	background-image: none;
	background-color: #d0d0d0;
}