.image-radio-container input[type=radio] {
	display: none;
	margin: 10px;
}

.image-radio-container input[type=radio]+label {
	padding-left:28px;
	display: inline-block;
	line-height:24px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-image: url("img/radio-square-unchecked.png");
    background-size: 20px 20px;
	background-color: #ffffff;
}

.image-radio-container input[type=radio]:checked+label {
	background-image: url("img/radio-square-checked.png");
    background-size: 20px 20px;
	background-color: #ffffff;
}

.image-radio-container input[type=radio][checked=checked]+label {
	background-image: url("img/radio-square-checked.png");
    background-size: 20px 20px;
	background-color: #ffffff;
}