<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<form wicket:id="form">

	<h2>This radio buttons are made with wicket classes</h2>
		<p>
			<label>Select your favorite brand:</label>
		</p>
		<br />
		<div wicket:id="group">
			<span wicket:id="choice">
			<input wicket:id="radio" type="radio" name="ticker" />
			<label wicket:id="label"></label>
			</span>
		</div>

	</form>
    <h2>This radio buttons are made with RadioGroupPanel</h2>
    <div wicket:id="radioGroupPanel"></div>

</wicket:panel>
