<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<div>
		<div wicket:id="imprintContainer">
			<h1>
				<span wicket:id="imprintHeaderLbl" ></span>
			</h1>
			<h2>
				<span wicket:id="urlWithSloganLbl" ></span>
			</h2>
			<p>
				<span wicket:id="serviceFromLbl" ></span> 
				<br />
				<span wicket:id="companyNameLbl" ></span>
				<br />
				<span wicket:id="streetAndNumberLbl" ></span>
				<br />
				<span wicket:id="zipAndCityLbl" ></span>
				<br />
				<span wicket:id="state" ></span>
				<br />
				<span wicket:id="authRepresentLabel" ></span>
				<span wicket:id="authRepresentContent" ></span>
				<br />
			</p>

			<h2>
				<span wicket:id="companyRegisterEntryHeader" ></span>
			</h2>
			<p>
				<span wicket:id="companyRegisterEntryContent" ></span>
				<br />
				<span wicket:id="companyRegisterEntryNumber" ></span>
			</p>
			<h2>
				<span wicket:id="companyRegisterIndedificationHeader" ></span>
			</h2>
			<p>
				<span wicket:id="companyRegisterIndedificationContent" ></span>
				<br />
				<span wicket:id="companyRegisterIndedificationNumber" ></span>
			</p>

		</div>

		<div wicket:id="disclaimerContainer">
		
			<div wicket:id="disclaimerPanel" ></div>
			
			<div wicket:id="mailToPanel" ></div>

		</div>
		
	</div>

</wicket:panel>
