<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div id="hd">
		<div id="logo">
			<h1>Apache Wicket url example</h1>
		</div>
	</div>

	<br>
	<br>
	WicketUrlResolver.getUrlForForgottenPassword("bla", "1HE23WE", WicketUrlPage.class, true):<br>
	<span wicket:id="urlForForgottenPassword"></span>
	<br>
	<br>
	WicketUrlResolver.getUrlForForgottenPassword("bla", "1HE23WE", WicketUrlPage.class, false):<br>
	<span wicket:id="urlForForgottenPassword2"></span>
	<br>
	<br>
	WicketUrlResolver.getUrlForForgottenPassword(WicketComponentUtils.getRequestURL(), "bla", "1HE23WE", WicketUrlPage.class):<br>
	<span wicket:id="urlForForgottenPassword3"></span>
	<br>
	<br>
	WicketUrlResolver.toFullUrl(false):<br>
	<span wicket:id="toFullUrl"></span>
	<br>
	<br>
	WicketUrlResolver.toFullUrl(true):<br>
	<span wicket:id="toFullUrl1"></span>
</wicket:panel>