<wicket:panel xmlns:wicket="http://wicket.apache.org">
<footer>    	    
        <ul class="nav text-center">
                  
            <li class="btn">
            	<a wicket:id="copyrightLink" href="#"> 
            		<span wicket:id="copyright" class="a"></span>
				</a> 
			</li>
			
            <li class="btn">
                <a wicket:id="imprintLink" href="#">
                    <span wicket:id="imprint" class="a"></span>
                </a>
            </li>

            <li class="btn">
                <a wicket:id="termOfUseLink" href="#">
                    <span wicket:id="termOfUse" class="a"></span>
                </a>
            </li>

        </ul>
 </footer>
</wicket:panel>